#hamburger{
    display: none;
}

@media screen and (max-width: 960px){

    header nav>menu{
        display: none;
    }

    #hamburger{
        display: unset;
    }

    header nav{
        gap: 1rem;
    }

    header nav>button{
        margin-left: auto;
    }

    header>.content{
        padding: 0 1.5rem;
    }

    .jumbotron{
        align-items: flex-start;
        padding: 0;
        width: 60%;
    }

    .jumbotron p{
        text-align: left;
        margin: 0;
    }

    #header-button{
        flex-direction: column;
    }

    .hero-left{
        display: none;
    }

    .hero-right{
        margin-left: auto;
        margin-right: 2rem;
    }

    .flex-down{
        width: unset;
    }

    .text-image{
        padding: 3rem 1.5rem;
    }

    .image-full{
        padding: 3rem 1.5rem 0;
    }

    footer{
        padding: 1.5rem;
    }

    .menus{
        row-gap: 1rem;
        flex-wrap: wrap;
    }

    .menus>menu{
        width: calc(100% / 2);
        flex-shrink: 0;
    }

}

@media screen and (max-width: 480px){

    header{
        height: 70vh;
    }
    
    .hero-left{
        display: unset;
    }

    .hero-right{
        display: none;
    }

    .characters{
        justify-content: center;
    }

    .characters figure{
        height: 40%;
    }

    .jumbotron{
        margin: 0;
    }

    .text-image{
        flex-direction: column;
        gap: 0;
    }

    .menu-section{
        flex-direction: column;
        gap: 1rem;
    }

}